*{
  margin: 0px;
  padding: 0px;
  font-family: Sans-Serif;
}
.header{
  height: 6vh;
  background: linear-gradient(red,blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h3{
  color: white;
  font-weight: 250;
}
.header h3:first-letter{
  font-size: 29px;
}
body{
  background: #b7b7b7;
}
.container{
 width: 80%;
 height: 400px;
 background: white;
 margin: 90px auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 5px;
 border-radius: 5px;
}
.container input{
  padding: 18px 13px;
  background: black;
  color: white;
  text-align: right;
  width: 80%;
  margin-top: 10px;
}
.rows{
  width: 90%;
  height: 17%;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 gap: 5px;
 margin-bottom: 5px;
}
